# Local LaTeX build artefacts (keep free-plan cache/)
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.bcf
*.run.xml
compile_*.txt
compile_*.out.txt
compile_*.err.txt
render_log.txt
